.main-home article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;
	padding-bottom: 5rem;
}

.main-home h3,
.main-home article h2 {
	text-align: center;
	font-weight: 300;
	font-size: 39px;
	color: #242424;
	max-width: 300px;
}

.main-home h3 {
	font-size: 32px;
	max-width: 250px;
}

.main-home article p {
	text-align: center;
	font-size: 15px;
	color: #0000006e;
	max-width: 330px;
	line-height: 25px;
}

.image-container {
	position: relative;
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-container span {
	display: block;
	position: relative;
	height: 100%;
	width: 92%;
}

.sub-section {
	background-color: #f4f4f4;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	gap: 3.6rem;
}

.sub-section article {
	padding: 0;
}

.sub-section section {
	display: flex;
	flex-direction: column;
	gap: 2.1rem;
}

.last-articles {
	padding: 5.4rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.desktop {
	display: none;
}

@media only screen and (min-width: 576px) {
	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

	.main-home section {
		display: flex;
		align-items: center;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: clip;
	}

	.main-home h3 {
		font-size: 39px;
		text-align: start;
	}

	.main-home article,
	.main-home section section,
	.main-home h3 {
		max-width: 1110px;
	}

	.main-article,
	.sub-section > *,
	.last-articles > * {
		width: 95%;
	}

	/* Main Article css */
	.main-home .main-article {
		flex-direction: row-reverse;
		padding: 0;
	}

	.main-article article {
		align-items: flex-start;
		gap: 2rem;
	}

	.main-home article h2 {
		max-width: 515px;
		font-size: 56px;
		text-align: start;
		line-height: 59px;
	}
	.main-home article p {
		font-size: 19px;
		text-align: start;
		max-width: 700px;
	}

	.image-container {
		width: 51vw;
		height: 614px;
	}
	.image-container span {
		top: 0;
		right: -33%;
		width: 132%;
		height: 769px;
	}
	.image-container span img {
		object-position: center left !important;
	}
	.desktop img {
		height: 100% !important;
		width: 1150px !important;
		inset: 0px !important;
		object-fit: cover !important;
		object-position: -61px -228px !important;
	}

	/* Subsection Article css */
	.sub-section {
		padding: 6rem 0;
	}

	.sub-section article {
		align-items: flex-start;
	}
	.sub-section section {
		flex-direction: row;
		align-items: flex-start;
	}

	.sub-section p {
		font-size: 17px;
	}

	/* Last Articles css */
	.last-articles {
		gap: 2.7rem;
	}

	.last-articles section {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: 1.7rem;
	}
}
