.main-home article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.4rem;
	padding-bottom: 5rem;
}

.main-home h3,
.main-home article h2 {
	text-align: center;
	font-weight: 300;
	font-size: 39px;
	color: #242424;
	max-width: 300px;
}

.main-home h3 {
	font-size: 32px;
	max-width: 250px;
}

.main-home article p {
	text-align: center;
	font-size: 15px;
	color: #0000006e;
	max-width: 330px;
	line-height: 25px;
}

.image-container {
	position: relative;
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-container span {
	display: block;
	position: relative;
	height: 100%;
	width: 92%;
}

.sub-section {
	background-color: #f4f4f4;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	gap: 3.6rem;
}

.sub-section article {
	padding: 0;
}

.sub-section section {
	display: flex;
	flex-direction: column;
	gap: 2.1rem;
}

.last-articles {
	padding: 5.4rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.desktop {
	display: none;
}

@media only screen and (min-width: 576px) {
	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}
	.main-home section {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.main-home article {
		max-width: 1440px;
	}
	.main-home .main-article {
		flex-direction: row-reverse;
		width: 100%;
		padding: 0;
	}

	.main-article article {
		align-items: flex-start;
	}

	.main-home article h2 {
		max-width: 560px;
		font-size: 53px;
		text-align: start;
	}
	.main-home article p {
		font-size: 20px;
		text-align: start;
	}

	.image-container {
		width: 51vw;
		height: 646px;
	}
	.desktop img {
		height: 100%;
		width: 164%;
		inset: 0px;
		object-fit: cover;
		object-position: -50px -240px;
	}
}
