.main-home article {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.1rem;
}

.main-home article h2 {
	text-align: center;
	font-weight: 300;
	font-size: 38px;
	color: #242424;
}

.image-container {
	position: relative;
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-container span {
	display: block;
	position: relative;
	height: 100%;
	width: 92%;
}
