.nav-bar {
	background-color: hsl(0, 0%, 100%);
}
.nav-bar nav {
	display: flex;
	justify-content: space-between;
	margin: 1rem 1.5rem;
}

.nav-bar img {
	width: 100%;
	max-width: 140px;
	object-fit: contain;
}
