.nav-bar {
	position: relative;
}
.nav-bar nav {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem 1.5rem;
}

.nav-bar img {
	width: 100%;
	max-width: 140px;
	object-fit: contain;
}

@media only screen and (min-width: 576px) {
	.navbutton {
		display: none;
	}
}
