.nav-bar {
	position: relative;
	background-color: white;
}
.nav-bar nav {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem 1.5rem;
}

.nav-bar img {
	width: 100%;
	max-width: 140px;
	object-fit: contain;
}

.desktop {
	display: none;
}

@media only screen and (min-width: 576px) {
	.desktop {
		display: flex;
	}
	.navbutton {
		display: none;
	}
	.nav-bar {
		display: flex;
		justify-content: center;
	}
	.nav-bar nav {
		max-width: 1110px;
		width: 100%;
		align-items: center;
	}
}
