.footer {
	background-color: hsl(233, 26%, 24%);
	padding: 2.2rem 0;
}

.footer span {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin-top: auto;
}

.footer div {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.footer img {
	width: 100%;
	max-width: 140px;
	object-fit: contain;
}

.footer li {
	list-style-type: none;
}

.media {
	display: flex;
	gap: 15px;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.footer a {
	color: white;
	font-size: 14px;
}

.footer a:hover {
	color: hsl(136, 65%, 51%);
}

.footer h6 {
	font-weight: 400;
	font-size: 14px;
	color: rgb(169 169 169);
}

@media only screen and (min-width: 576px) {
	.footer {
		display: flex;
		justify-content: center;
	}

	.footer span {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		max-width: 1110px;
	}

	.footer span div {
		align-items: flex-start;
	}

	.footer span div:last-child {
		align-items: flex-end;
	}

	.links {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-flow: column;
	}
}
